@import "/css/common/base.css";
@import "/css/common/def-form.css";
@import "/css/common/validations.css";
@import "/css/common/modal.css";

.main-container {
    align-items: center;
    justify-content: center;
    background-image: url("/res/back-image.jpg"); /*attribution: <a href="https://commons.wikimedia.org/wiki/File:Analyzing_Financial_Data_(5099605109).jpg">Dave Dugdale from Superior, USA</a>, <a href="https://creativecommons.org/licenses/by-sa/2.0">CC BY-SA 2.0</a>, via Wikimedia Commons*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#login-frm {
    max-width: 72%;
    background-color: var(--def-dark-gray);
    box-shadow: 0 0 24px 7px var(--def-dark-gray);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

.login-form__button {
    font-size: 1rem;
    margin-top: .8rem;
    padding: .2em .5em;
    color: var(--def-light-gray);
    background-color: transparent;
    border: 1px solid var(--def-accent-color);
    border-radius: 4px;
}

.def-form__input {
    max-width: 160px;
}

.login-form__button:hover {
    background-color: var(--def-accent-color);
}
